.label {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8em;
}
.label span {
    color: red;
}
.label--error {
    color: red;
}
@media (prefers-color-scheme: dark) {
    .label {
        color: var(--darkThemeText)
    }
  }
  
  @media (prefers-color-scheme: light) {
    .label {
        color: var(--lightThemeText)
    }
  }