.wrapper {
  width: 100%;
  margin: 0 auto;
  background: var(--blue);
  padding: 15px;
}

.wrapper--small {
  max-width: var(--wrapperSmall);
}

.wrapper--medium {
  max-width: var(--wrapper);
}

.wrapper--large {
  max-width: var(--wrapperLarge);
}
